#### 1. User-Defined Function (5 Questions)

In [38]:
#1. Write a function to calculate the factorial of a number (without recursion).
# 1*2*3*4*5
def factorial(var):
    """
    this function is use for calculating a factorial of a number
    """
    i = 1
    fact= 1
    while i <= var:
        fact = fact * i
        i = i + 1

    print("the factorial of a number",var,"is",fact)

In [39]:
factorial(5)

the factorial of a number 5 is 120

In [64]:
#2. Write a function to check if a number is Armstrong or not.
 # len 
#len *** i
#i + i
#var == sum
num9=str(input("enter a number"))
l=len(num9)
var_1=sum(int(i)**l for i in num9)
print(var_1)

enter a number 153

153

In [56]:
#3. Write a function that takes a list of numbers and returns only even numbers.
def even(*le):
    even=list(filter(lambda n : n%2==0,le))
    return even

In [59]:
even(1,2,3,4,5,6,7,8,9,10,11,12,14,13,15,19,16,18,17,20)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [101]:
#4. Write a function that takes a string and returns the reverse of the string.
def reverse(var):
    for i in var:
        reverse=var[::-1]
    return reverse

In [102]:
reverse("this is my first thing program")

'margorp gniht tsrif ym si siht'

In [114]:
#5. Write a recursive function to calculate Fibonacci series up to n terms.
def Fibonacci(n):
    a,b=0,1,         #0 1 1 2 3 5 8
    for i in range(0,n):
        print(a)
        a,b=b,a+b

In [115]:
Fibonacci(10)

0
1
1
2
3
5
8
13
21
34

#### 2. Lambda Function (5 Questions)

In [32]:
#6. Write a lambda function to find the maximum of two numbers. 
Max = lambda a, b : a if(a > b) else b

In [34]:
Max(80,60)

80

In [30]:
#7. Write a lambda function to count vowels in a given string.
var="This is my new vowel program"
v="aeiou"
new=list(filter(lambda x: x in v,var))
vowel=len(new)
print("vowel :",vowel)

vowel : 7

In [32]:
#8. Use a lambda with map() to convert a list of integers into their cubes. 
li=[1,2,3,4,5,6,7,8,9,10]
cubes=list(map(lambda n: n**3 ,li))
print(cubes)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
#9. Use a lambda with filter() to find numbers divisible by 5 from a list. 
l2=[2,5,6,10,20,15,6,15,80,30,28,65]
new_list=list(filter(lambda x: x%5==0,l2))
print(new_list)

[5, 10, 20, 15, 15, 80, 30, 65]

In [44]:
#10. Use reduce() with lambda to find the product of all numbers in a list.
from functools import reduce
l3=[1,2,3,4,5,6,7,8]
product=reduce(lambda n,v:n * v,l3)
print(product)

40320

### 3. List Comprehension (5 Questions)

In [51]:
#11. Create a list of squares of numbers from 1 to 20 using list comprehension.
sqr=list((i**2 for i in range(1,21)))
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [28]:
#12. Extract all words starting with vowel from a list of words.
l5=["priya","khushi","rahul","anushka","isha","om","umesh"]
A="a","e","i","o","u"
vowel_word=list(filter(lambda i: str(i).startswith(A) ,l5))
print("Words starting with vowel in list is:-",vowel_word)

Words starting with vowel in list is:- ['anushka', 'isha', 'om', 'umesh']

In [38]:
#13. Generate a list of tuples (x, x^2) for numbers from 1 to 10. 
tn=range(1,10)
x_=list((i ,i**2) for i in tn)
print(x_)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [95]:
#14. Flatten a 2D list using list comprehension. 
f=[[2,4,5],[1,7,8],[2,5,8]]
flatten=[n for i in f for n in i ]
print("original list is:",f,"\n","new list",flatten)

original list is: [[2, 4, 5], [1, 7, 8], [2, 5, 8]]
 new list [2, 4, 5, 1, 7, 8, 2, 5, 8]

In [116]:
#15. Create a list of prime numbers between 1 and 50 using list comprehension.
le=range(1,51)
prime=list(filter(lambda n : n%2==1,le)) 
print(prime)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### 4. Class (5 Questions)

In [67]:
#16. Create a class Student with attributes name and marks, and a method to display details.
class Student:
     def __init__ (self, name,marks):
         self.name=name
         self.marks=marks
     def details(self):
         print("student name:",self.name)
         print("student marks:",self.marks)

In [68]:
std_obj=Student("RASIKA",500)

In [72]:
std_obj.details()

student name: RASIKA
student marks: 500

In [94]:
#17. Create a class BankAccount with deposit and withdraw methods.
class BankAccount:
    def __init__ (self,account_holder,balance):
        self.account_holder=account_holder
        self.__balance=balance
        
    def deposit(self,deposit):
        print("deposit amount is :",deposit)
        self.__balance += deposit
        
    def withdraw(self,withdraw):
        self.__balance -= withdraw
        print("amount withdraw is:",withdraw)
        print("balance amount is:-",self.__balance)

In [95]:
bank_obj=BankAccount("rasika",5000)

In [96]:
bank_obj.deposit(5000)
bank_obj.withdraw(500)

deposit amount is : 5000
amount withdraw is: 500
balance amount is:- 9500

In [104]:
#18. Create a class Circle with a method to calculate area and circumference. 
class circle:
    def __init__ (self,radius):
        self.__radius=radius

    def area(self):
        import math as mt
        area=mt.pi*self.__radius**2
        print("area of circle is :-",area)
        
    def circumference(self):
        import math as mt
        circumference=2*mt.pi*self.__radius
        print("area of circle is :-",circumference)

In [106]:
circle_obj=circle(7)

In [107]:
cicle_obj.area()
cicle_obj.circumference()

area of circle is :- 153.93804002589985
area of circle is :- 43.982297150257104

In [11]:
#19. Create a class Employee that increases salary by 10%.
class Employee:
    def __init__ (self,employe_name,salary):
        self.employename=employe_name
        self.__salary=salary
    
    def increases_salary(self):
        incr=self.__salary/100*10
        salary=incr+self.__salary
        print("original salary is:-",self.__salary,"\n","salary after increases by 10% is:-",salary)

In [12]:
obj_Employee=Employee("rasika",15000)

In [13]:
obj_Employee.increases_salary()

original salary is:- 15000
 salary after increases by 10% is:- 16500.0

In [2]:
#20. Create a class Car with methods to start, stop, and display status.
class car:
    def __init__(self):
        pass
    def start(self):
        print("start method")
        pass
    def stop(self):
        print("stop method")
        pass
    def display(self):
        pass

In [3]:
obj_car=car()

In [6]:
obj_car.stop()
obj_car.display()

stop method

### 5. Inheritance (5 Questions)

In [21]:
#21. Create a base class Animal and a derived class Dog that overrides a method. 
class animal:
    def make_sound(self):
        pass

class Dog(animal):
    def make_sound(self):
        return "Woof!"

In [22]:
animal_obj=Dog()

In [23]:
animal_obj.make_sound()

'Woof!'

In [6]:
#22. Create a base class Shape with method area(). Inherit Rectangle and Circle classes to implement area calculation.
class shape:             #parent class
    def area(self):
        pass
class rectangle(shape):  
    def area(self,length,width):
        self.length=length
        self.width=width
        return self.length*self.width
        print("area of rectangle is :-",area)
        
class circle(shape):
    def area(self,radius):
        self.radius=radius
        import math as mt
        return mt.pi*self.radius**2
        print("area of circle is :-",area)

In [7]:
obj_shape=shape()

In [8]:
obj2=circle()
obj3=rectangle()

In [9]:
obj3.area(10,7)

70

In [11]:
obj2.area(5)

78.53981633974483

In [2]:
#23. Create a Person class and inherit Student and Teacher from it with additional attributes.
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
class Student(Person):
    def __init__(self, name, age, student_id):
        self.name = name
        self.age = age
        self.student_id = student_id
        
class Teacher(Person):
    def __init__(self, name, age, subject):
        self.name = name
        self.age = age
        self.subject = subject

s1 = Student("rasika", 20, "123")
t1 = Teacher("Mr.roshan", 30, "Math")

print("Student:")
print("Name:", s1.name)
print("Age:", s1.age)
print("Student ID:", s1.student_id)

print("\nTeacher:")
print("Name:", t1.name)
print("Age:", t1.age)
print("Subject:", t1.subject)

Student:
Name: rasika
Age: 20
Student ID: 123

Teacher:
Name: Mr.roshan
Age: 30
Subject: Math

In [5]:
#24. Create a Vehicle class and inherit Car and Bike with their specific features. 
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

class Car(Vehicle):
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
        
class Bike(Vehicle):
    def __init__(self, brand, model, bike_type):
        self.brand = brand
        self.model = model
        self.bike_type = bike_type

car1 = Car("Toyota", "Corolla", )
bike1 = Bike("Yamaha", "R15", "Sports")

print("Car:")
print("Brand:", car1.brand)
print("Model:", car1.model)

print("\nBike:")
print("Brand:", bike1.brand)
print("Model:", bike1.model)
print("Type:", bike1.bike_type)

Car:
Brand: Toyota
Model: Corolla

Bike:
Brand: Yamaha
Model: R15
Type: Sports

In [8]:
#25. Demonstrate multiple inheritance with a StudentAthlete class (inheriting from Student and Athlete).

class Student:
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id

class Athlete:
    def __init__(self, sport, team):
        self.sport = sport
        self.team = team

class StudentAthlete(Student, Athlete):
    def __init__(self, name, student_id, sport, team):
        self.name = name
        self.student_id = student_id
        self.sport = sport
        self.team = team

# Example usage
sa = StudentAthlete("Alice", "123", "Basketball", "Wildcats")

print("Student-Athlete Info:")
print("Name:", sa.name)
print("Student ID:", sa.student_id)
print("Sport:", sa.sport)
print("Team:", sa.team)

Student-Athlete Info:
Name: Alice
Student ID: 123
Sport: Basketball
Team: Wildcats

### 6. Polymorphism (5 Questions)

In [50]:
#26. Create two classes Cat and Dog with the same method speak(). Demonstrate polymorphism. 
class Animal:
    def make_sound(self):
        pass  

class Dog(Animal):
    def make_sound(self):
        return "Woof!"

class Cat(Animal):
    def make_sound(self):
        return "Meow!"

In [53]:
o1= Dog()
o2 = Cat()

In [55]:
Animal=[o1,o2]

In [61]:
for Animal in Animal:
    print(Animal.make_sound())

Woof!
Meow!

In [2]:
#27. Demonstrate operator overloading by implementing addition of two Vector objects. 
class Vector:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def _add_(self,other):
        return Vector(self.x + other.x, self.y + other.y)  
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"({self.x}, {self.y})"


v1 = Vector(2, 3)
v2 = Vector(4, 5)

v3 = v1 + v2  

print("Vector 1:", v1)
print("Vector 2:", v2)
print("Added Vector:", v3)

Vector 1: (2, 3)
Vector 2: (4, 5)
Added Vector: (6, 8)

In [80]:
#28. Demonstrate method overloading using default parameters. 
class mathoperation:
    def add(self,a=0,b=0,c=0):
        return a + b + c

In [82]:
math_obj=mathoperation()

In [85]:
print("add of two numbers",math_obj.add(5,2))
print("add of three numbers",math_obj.add(11,2,1))

add of two numbers 7
add of three numbers 14

In [96]:
#29. Create a base class Shape with draw() method and override it in derived classes. 
class shape:
    def draw(self):
        pass
class Rectangle1(shape):
    def draw(self):
        print("this is a rectrangle")
    
class Circle(shape):
    def draw(self):
        print("this is a Circle")

In [98]:
obj_shape=shape()
obj_rect=Rectangle1()
obj_circle=Circle()

In [100]:
obj_circle.draw()
obj_rect.draw()

this is a Circle
this is a rectrangle

In [103]:
#30. Demonstrate duck typing with classes having the same method name.
class cat:
    def speak(self):
        print("meow")
class dog:
    def speak(self):
        print("woof")
class parrot:
    def speak(self):
        print("squawk")

In [104]:
def make_animal_speak(animal):
    animal.speak()

In [105]:
animals=[cat(),dog(),parrot()]
for a in animals:
    make_animal_speak(a)

meow
woof
squawk

### 7. Encapsulation (5 Questions)

In [44]:
#31. Create a class Account with private balance attribute and provide methods to deposit and withdraw. 
class Account:
    def __init__(self,balance):
        self.__balance = balance  
    def deposit(self, amount):
            self.__balance += amount
            return f"Deposited {amount}. New balance: {self.__balance}"
            return "Invalid deposit amount"

    def withdraw(self, amount):
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
            return "Invalid withdrawal amount"

    def get_balance(self):
        return self.__balance

In [48]:
account_obj=Account(50000)

In [49]:
account_obj.deposit(10000)
account_obj.withdraw(5000)
account_obj.get_balance()

55000

In [3]:
#32. Create a class with private attributes and use getter and setter methods to access them. 
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age  # private attribute

    def get_age(self):
        return self.__age

    def set_age(self, new_age):
        if new_age >= 0:
            self.__age = new_age
        else:
            print("Age cannot be negative")

In [4]:
gs=Person("rasika",20)

In [6]:
gs.set_age(21)

In [7]:
gs.get_age()

21

In [18]:
#33. Demonstrate name mangling with private variables. 
class privatename:
    def __init__(self,name):
        self.__name=name
obj = privatename("rasika")
print(obj._privatename__name)

rasika

In [68]:
#34. Create a class Bank with encapsulated methods to show account details securely. 
class account:
    def __init__(self,account_holder,balance,pin,account_number):
        self.__account_holder=account_holder
        self.__balance=balance
        self.__pin=pin
        self.__account_number=account_number
    def deposit(self,deposit):
        self.deposit=deposit
        print(deposit)
        self.__balance=self.__balance + self.deposit
        print( "balances :-",self.__balance)
    def withdrawal (self,withd):
        self.withd=withd
        print("withdraw amount is",withd)
        self.__balance=self.__balance - self.withd
        print("balance:-",self.__balance)
    def account_details(self,pin):
        self.pin=pin
        if self.__pin ==self.pin:
            print("Account Holder Name :-",self.__account_holder,
                  "\n"," balance amount in account :-",self.__balance,
                  "\n","account number",self.__account_number,
                  "\n", "last deposit amount is :-",self.deposit,
                  "\n","last withdrawal  amount is :-",self.withd)
        else:
            print("enterd pin is wrong",pin)

In [70]:
ac=account("rasika",5000,1234,2024563185)

In [71]:
ac.deposit(5000)

5000
balances :- 10000

In [72]:
ac.withdrawal(500)

withdraw amount is 500
balance:- 9500

In [73]:
ac.account_details(1234)

Account Holder Name :- rasika
  balance amount in account :- 9500
 account number 2024563185
 last deposit amount is :- 5000
 last withdrawal  amount is :- 500

In [75]:
ac.account_details(12451)  ## wrong pin

enterd pin is wrong 12451

In [76]:
#35. Demonstrate encapsulation by restricting access to class attributes.
class employee:
    def __init__(self,salary):
        self.__salary = salary

    def get_salary(self):
        return self.__salary
        
    def set_salary(self,salary):
        if salary > 0:
            self.__salary = salary
        else:
            print("invalid salary")

In [4]:
emp=employee(400000)
emp.get_salary()

400000

In [5]:
emp.set_salary(-100)

invalid salary

### 8. Datetime Module (5 Questions)

In [17]:
#36. Write a program to display the current date and time. 
import datetime as dt
from datetime import datetime
today=datetime.now()
print("the current date and time is :",today.strftime("%Y-%m-%d %H:%M:%S"))

the current date and time is : 2025-09-21 18:40:52

In [33]:
#37. Write a program to calculate a person’s age from their date of birth.
from datetime import timedelta
dob=str(input("enter you date of birth:"))
date_of_birth = datetime.strptime(dob,"%Y-%m-%d").date()
today=datetime.today()
age=today.year - date_of_birth.year
print("your age is:-",age)

enter you date of birth: 2001-10-03

your age is:- 24

In [62]:
#38. Write a program to find the difference in days between two given dates.
from datetime import timedelta
date1= datetime.now()
date2= date1 + timedelta(days=2)
diff=  date2 - date1
print("difference between two days is:-",diff)

difference between two days is:- 2 days, 0:00:00

In [51]:
#39. Write a program to print the date 30 days from today. 
from datetime import timedelta
today_date=dt.datetime.now()
date_after_30 =today_date + timedelta(days=30)
print("todays date is:-",today_date.strftime("%d-%m-%Y"))
print("date after 30 days is:-",date_after_30.strftime("%d-%m-%Y"))

todays date is:- 14-09-2025
date after 30 days is:- 14-10-2025

In [43]:
#40. Write a program to format today’s date as “DD/MM/YYYY” and “YYYY-MM-DD”.
date_today=dt.datetime.now()
print("the current date as “DD/MM/YYYY” :",date_today.strftime("%d-%m-%Y"))
print("the current date as “YYYY/MM/DD” :",date_today.strftime("%Y-%m-%d"))

the current date as “DD/MM/YYYY” : 14-09-2025
the current date as “YYYY/MM/DD” : 2025-09-14

### 9. Math Module (5 Questions)

In [8]:
#41. Write a program to calculate factorial using math.factorial(). 
import math as mt
num1=int(input("enter a number:"))
factorial=mt.factorial(num1)
print("factorial of",num1 ,"is",factorial)

enter a number: 5

factorial of 5 is 120

In [68]:
#42. Write a program to find the greatest common divisor (GCD) of two numbers. 
number1=int(input("enter a number 1 :"))
number2=int(input("enter a number 2 :"))
GCD=mt.gcd(number1,number2)
print(GCD)

enter a number 1 : 36
enter a number 2 : 6

6

In [73]:
#43. Write a program to calculate square root, power, and logarithm using math module. 
number_=int(input("enter a number"))
square_root=mt.sqrt(number_)
power=mt.pow(number_,2)
logarithm=mt.lgamma(number_)
print(square_root,"\n",power,"\n",logarithm)

enter a number 5

2.23606797749979
 25.0
 3.178053830347945

In [14]:
#44. Write a program to generate random numbers between 1 and 100 (using math and random).
import numpy as np
numbers=range(1,101)
random_number=np.random.randint(numbers)
print(random_number)

[ 0  1  1  2  2  5  0  5  0  8  3  6  8  2  9  4  4 17 15  0  7  5 15  8
 18  9 21 21  6 11 24 18  2  7  5 31  9 29 26  6 12 14 26  5 44 15 46 41
  4 46 47 45 29 24 38 34 22 40  2 29  5 34 55 25 13 37 31 37 18  4 67 25
 54 49 65 34 19 51 32 18 13 65 44 31 55 76 81 17 60 40 18 47 86 57 46 14
  7 57 24 32]

In [11]:
##### 45. Write a program to convert radians to degrees and vice versa.
dr=int(input("enter a number:"))
degree=mt.degrees(dr)
converte_radians=mt.radians(degree)
print("converted degree is" ,degree,"\n","converted radians is",converte_radians)

enter a number: 55

converted degree is 3151.2678732195277
 converted radians is 55.0

### 10. Regular Expression Module (5 Questions)

In [6]:
#46. Write a regex to check if a string is a valid email address. 
import re
email=str(input("enter a email :"))
valid= re.findall(r'\b[\w.-]+@[\w.-]+\.\w+\b', email)
print("email is valid",valid)

enter a email : mandade@gmail.com

email is valid ['mandade@gmail.com']

In [22]:
#47. Write a regex to extract all numbers from a string.
str1=(input("enter a string:"))
num=re.findall(r'\d',str1)
print(num)

enter a string: there are 3 apple and 2 banana

['3', '2']

In [44]:
#48. Write a regex to validate if a string is a valid Indian mobile number (10 digits).
number=(input("enter a number :"))
indnum=re.findall(r'^[91]\d{10}',number)
print(indnum)

enter a number : 917277974025

['91727797402']

In [51]:
#49. Write a regex to find all words starting with a capital letter in a sentence. 
letter=(input("enter a string:"))
capital=re.findall(r'[A-Z]\S+',letter)
print(capital)

enter a string: Write a regex to find all words Starting with a Capital Letter in a sentence.

['Write', 'Starting', 'Capital', 'Letter']

In [7]:
#50. Write a regex to replace all spaces in a string with a hyphen.
text = "this is my new program"
cleaned = re.sub(r'\s', '-', text)
print(cleaned)

this-is-my-new-program