### 1. String (5 Questions)

In [3]:
 #1. Check if a given string is a palindrome
 nam=str(input())
if nam == nam[::-1]:
    print("Is palindrome")
else:
    print("not palindrome")

 mam

Is palindrome

In [76]:
# 2. Count the number of vowels in a string and store the result in a dictionary.
s=("Count the number of vowels in a string and store the result in a dictionary.")
vowels = "aeiou"
count = {v:s.count(v) for v in vowels }
print(count)

{'a': 4, 'e': 6, 'i': 5, 'o': 5, 'u': 3}

In [96]:
##3. Convert the first letter of each word in a string to uppercase (title case manually)
s="this is a string variable"
s.title()

'This Is A String Variable'

In [97]:
## 4.Find the most frequently occurring character in a string
s = "bananan"
frequency = {ch:s.count(ch) for ch in s}
print(max(frequency, key = frequency.get))

a

In [98]:
## 5.Count digits, alphabets, and special characters separately in a string
s="abcrhabcj125bc564897445mz@@$#%^*%$"
alpha=0
digit=0
special=0
for i in s:
    if i.isalpha():
        alpha += 1
    elif i.isdigit():
        digit += 1
    else:
        special += 1
print("alphabets:",alpha)
print("Digits:",digit)
print("Special_Characters:",special)

alphabets: 13
Digits: 12
Special_Characters: 9

### 2. List (5 Questions)

In [99]:
## 6. Remove duplicate elements from a list without using set()
list = [1,5,8,6,2,5,6,8,2,4,4,7,2,2,6]
new_list =[]

for n in list:
    if n not in new_list:
        new_list.append(n)
print(new_list)

[1, 5, 8, 6, 2, 4, 7]

In [100]:
#7. Reverse a list without using built-in functions¶
l=[1,2,4,3,5]
var=[l[x] for x in range(len(l)-1,-1,-1)]
print(f"reverse list is:{var}")

reverse list is:[5, 3, 4, 2, 1]

In [101]:
#8. Find the 2nd largest and 2nd smallest element in a list.
l=[1,2,5,77,4,2,3,4,5,8]
l.sort()
a=l[1]
b=l[-2]
print("list is",l,"\n","2nd largest element in list is",a,"\n","2nd smallest element in list is",b)

list is [1, 2, 2, 3, 4, 4, 5, 5, 8, 77]
 2nd largest element in list is 2
 2nd smallest element in list is 8

In [118]:
## 9. Store the square of each element of a list into a new list (using list comprehension).
li=[1,2,3,4,5,6,7,8,9]
[i**2 for i in li]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
#10. Flatten a nested list into a single list
var=[[1,2,3],[2,5,8],[4,5,6]]
new_li=[i for x in var for i in x]
print(f"original list:{var}")
print(f"new list:{new_li}")

original list:[[1, 2, 3], [2, 5, 8], [4, 5, 6]]
new list:[1, 2, 3, 2, 5, 8, 4, 5, 6]

#### 3. Tuple (5 Questions)

In [6]:
##11. Reverse a tuple without using [::-1]
tu=(1,2,3,4,5,6,719,1,8)
for i in range(len(tu)-1,-1,-1):
        print(tu[i])

8
1
719
6
5
4
3
2
1

In [7]:
##12. Extract unique elements from a tuple and store them in a new list.
tuple = (1,2,5,"rasika",True,(1,5,8))
unique = []
for i in tuple:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 2, 5, 'rasika', (1, 5, 8)]

In [3]:
##13. Concatenate two tuples and sort them
t1 = (55,77,33,22,88,11)
t2 = (10,92,38,74,56)
tuple = t1 + t2
sort =(sorted(tuple))
print(sort)

[10, 11, 22, 33, 38, 55, 56, 74, 77, 88, 92]

In [12]:
## 14. Count the frequency of an element in a tuple without using count()
n=(1,2,352,1,4,5,6,2,2,2,2,8,6)
element=int(input("enter a element to count the frequency :"))
a = 0
for i in n:
    if i == element:
        a += 1
print("frequency of an element in a tuple is",a)

enter a element to count the frequency : 2

frequency of an element in a tuple is 5

In [27]:
## 15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers.
tup = (1,2,3,5,11,20,4,5,6,7,55,9,10,11,12)
even=list(filter(lambda n : n%2==0,tup))
odd=list(filter(lambda n : n%2!=0,tup))
print("even number:",even,"\n","odd number:",odd)

even number: [2, 20, 4, 6, 10, 12]
 odd number: [1, 3, 5, 11, 5, 7, 55, 9, 11]

In [5]:
#### 16. Perform union, intersection, and difference of two sets without using built-in operators.
n = {1,4,2}
i = {6,8,9}
set = n|i
print("Union:", set)

Union: {1, 2, 4, 6, 8, 9}

In [8]:
n = {1,2,3,4,6,7,8}
i = {4,7,5,6,6,8}
intersection = n & i
print("Intersection:",intersection)

Intersection: {8, 4, 6, 7}

In [9]:
n =  {1,2,3,4,6,7,8}
i = {4,7,5,6,6,8}

diff1 = n - i
diff2 = i - n
print("n - i:",diff1)
print("i- n:",diff2)

n - i: {1, 2, 3}
i- n: {5}

In [5]:
## 17. Remove a random element from a set (without using pop()).
set={1,2,3,4,56,2,8,1,2,5}
set.remove(2)
print(set)

{1, 3, 4, 5, 8, 56}

In [7]:
## 18. Convert a list into a set and check if duplicates are removed.
l1=[1,1,2,5,5,7,7,8,3,6,1]
set(l1)

{1, 2, 3, 5, 6, 7, 8}

In [9]:
## 19. Check if two sets are disjoint
set={1,2,2,45,5,}
set1={12,1,2,4,5,}
set.isdisjoint(set1)

False

In [57]:
## 20. Find the sum of all elements in a set
s={1,2,4,5}
from functools import reduce
sum =reduce(lambda n,v : n+v,s)
print(sum)

12

#### 5. Dictionary (5 Questions)
 21. Create a dictionary and print keys in ascending order.

In [4]:
d={"rasika":"1","priya":"2","khushi":"3","pratu":"4","roshni":"5"}
var=d.keys()
name=list(var)
name.sort()
print("keys in ascending order :",name)

keys in ascending order : ['khushi', 'pratu', 'priya', 'rasika', 'roshni']

In [1]:
## 22. Add a new key to a dictionary with value equal to the sum of existing values.
d = {"a": 10, "b": 20, "c": 30} 
sum = sum(d.values())
print(sum)

60

In [123]:
##23. Merge two dictionaries into one.¶
d={"rasika":"1","priya":"2","khushi":"3","pratu":"4"}
v={"1":"kyc","2":"web","3":"ovs"}
ds=tuple(d)+tuple(v)

('rasika', 'priya', 'khushi', 'pratu', '1', '2', '3')

In [120]:
##24. Find the key with the largest value in a dictionary.
d = {"a": 500, "b": 150, "c": 100}
max_key = max(d, key=d.get)
print(max_key)

a

In [119]:
##25. Store the frequency of characters of a string in a dictionary
s = "chocolate"
freq = {ch: s.count(ch) for ch in set(s)}
print(freq)

{'l': 1, 't': 1, 'c': 2, 'e': 1, 'o': 2, 'h': 1, 'a': 1}

## 6. Conditional Statements (5 Questions)

In [12]:
#26. Take age as input and check if the person is eligible to vote or not.
age=int(input("enter a age of person"))

if age<18:
    print("person is not eligible to vote")
elif age >=18:
    print("person is eligible to vote")

enter a age of person 55

person is eligible to vote

In [14]:
 #27. Find the largest among three numbers (using nested if).
n1=int(input("enter a 1 number:"))
n2=int(input("enter a 2 number:"))
n3=int(input("enter a 3 number:"))

if n1 > n2:
    if n1 > n3:
        print("n1 is largest")
elif n2 > n3:
        print("n2 is largest")
else :
    print("n3 is largest")

enter a 1 number: 5
enter a 2 number: 2
enter a 3 number: 2

n1 is largest

In [15]:
#28. Check if a given number is prime or not.
num=int(input("enter a number:"))
if num % 2 == 1:
    print("number is prime")
else :
    print(" number is not prime")

enter a number: 2

 number is not prime

In [16]:
 #29. Assign grade (A, B, C, Fail) based on marks input.
mark=int(input("Enter a mark :"))

if mark <= 35:
    print("you are fail")
elif mark >35 and   mark <= 60:
    print("you got c grade")
elif mark >60 and mark <= 80:
    print(" you got b grade")
elif mark > 80 and  mark <= 100:
    print("you got A grade")
elif mark <1 or mark >100:
    print("invalid input")

Enter a mark : 66

 you got b grade

In [18]:
#30. Check if a number is positive, negative, or zero.
num=int(input("enter a number :"))

if num >= 1:
    print(num ," is positive number ")
elif num <=-1:
    print(num," is negative number")
elif num==0:
    print("number is zero")

enter a number : 6

6  is positive number

##### 7. Loops – For & While (5 Questions)

In [19]:
#31. Print the first 10 numbers of the Fibonacci series using for loop.
a=0
b=1
for i in range(13): # 0 1 1 2 3 5 8
    print(a)
    a,b=a+b,a

0
1
1
2
3
5
8
13
21
34
55
89
144

In [20]:
# 32. Find the factorial of a number using while loop.
num=int(input("enter a number :"))
i =1
fact = 1
while i <= num:
    fact = fact * i
    i = i+1
print(fact)

enter a number : 2

2

In [21]:
 #33. Input a number and find the sum of its digits using while loop.
num=int(input("enter a number"))
n=0
i=1
while i <= num:
    n = n + i
    i = i + 1
print (n)

enter a number 5

15

In [22]:
# 34. Print all elements of a list in reverse order without using reverse()
l=[1, 5 ,2 ,4 ,3 ,8 ,3]
for i in range(len(l)-1,-1,-1):
   print(l[i])

3
8
3
4
2
5
1

In [26]:
#35. Print a star pattern (triangle) using nested loops
n=0
for i in range (0,6,1):
    for k in range(n):
        print("*",end=" ")
    n = n + 1
    print("\r")

*
* *
* * *
* * * *
* * * * *

## 8. File Handling (5 Questions)

In [35]:
##36. Write some text into a file and then read and print it.

In [43]:
var=open("new1.txt","w")
var.write("this is my new file")
var.close()

In [44]:
var=open("new1.txt","r")
new_read=var.read()
print(new_read)

this is my new file

In [70]:
# 37. Count the total number of lines in a file.
with open("new1.txt", "r") as f:
    print("Lines:", len(f.readline()))

Lines: 19

In [50]:
 #38. Count vowels and consonants in a file.
f = open("new.txt", "r")
text = f.read().lower()
f.close()

vowels = 0
consonants = 0

for ch in text:
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants += 1

print("Vowels:", vowels)
print("Consonants:", consonants)

Vowels: 5
Consonants: 12

In [71]:
##39. Convert the content of a file into uppercase and store it in another file.
with open("new1.txt") as f:
    new = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(new)
    f.close()

In [72]:
new1=open("upper.txt","r")
new1.read()

'THIS IS MY NEW FILE'

In [73]:
##40. Read a CSV file and print its rows.
import csv
with open("new1.txt", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['this is my new file']

# 9. OS Module (5 Questions)

In [75]:
#41. Print the current working directory using os module.
import os

In [76]:
os.getcwd()

'C:\\Users\\welcome 25\\Downloads'

In [81]:
## 42. Create a new folder using os module and create a file inside it.
os.mkdir("newone")

In [82]:
f = open("newone/newone.txt","w")
f.write("this is new file")
f.close()

In [83]:
# 43. List all files and folders inside a directory.
os.listdir()

['.ipynb_checkpoints',
 '00. Python Basics (1).pdf',
 '00. Python Basics.pdf',
 '01. Python Basics.ipynb',
 '01. Python Basics.pdf',
 '01. Python_Practice_Questions.pdf',
 '03. List and Operation.ipynb',
 '04. String and Operations.ipynb',
 '05. Tuple and operation.ipynb',
 '06. Set and operation (1).ipynb',
 '06. Set and operation (2).ipynb',
 '06. Set and operation (3).ipynb',
 '06. Set and operation.ipynb',
 '07. Dictionary and operations.ipynb',
 '08. Conditions-1.ipynb',
 '09. Conditions-2.ipynb',
 '10. Loops-1.ipynb',
 '11. loop-2.ipynb',
 '12. Loop-3.ipynb',
 '13. File_handling.ipynb',
 '14. Try and Except, Logging.ipynb',
 '15. User_define.ipynb',
 '16. User_define_function-2.ipynb',
 '17. global, map, reduce, filtter (1).ipynb',
 '17. global, map, reduce, filtter.ipynb',
 '18. OOPs-1.ipynb',
 '19. OOPs-2.ipynb',
 'Anaconda3-2025.06-0-Windows-x86_64 (1).exe',
 'desktop.ini',
 'function',
 'new.txt',
 'new1.txt',
 'newfile.txt',
 'newone',
 'newone.txt',
 'practice que.ipynb',
 'PythonAssignment.ipynb',
 't3.txt',
 't4.txt',
 'text.txt',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled16.ipynb',
 'Untitled2.ipynb',
 'upper.txt']

In [85]:
##44. Check the size of a file using os module
file = "new1.txt"
size = os.path.getsize(file)
print(f"File size of {file} is: {size} ")

File size of new1.txt is: 19

In [86]:
##45. Count all .txt files in a directory.
files = os.listdir()
count = 0

for f in files:
    if f.endswith(".txt"):
        count += 1
result = {".txt files:", count}

print(result)

{8, '.txt files:'}

### 10. Try-Exception (5 Questions)

In [87]:
 #46. Write a program that takes user input and prints its square. Handle errors if input is invalid.
try:
    num=int(input("enter a number"))
    square = num**2
    print(square)
except Exception as e:
    print(e)

enter a number 5

25

In [88]:
# 47. Handle ZeroDivisionError with an example program.
try:
      x=int(input("enter a number"))
      d= 10 / x
      print(d)
except ZeroDivisionError:
        print("ZeroDivisionError")

enter a number 0

ZeroDivisionError

In [89]:
 #48. Handle FileNotFoundError with an example program.
try:
    with open ("x.txt") as file:
        line=file.read()
except FileNotFoundError:
    print("FileNotFoundError")

FileNotFoundError

In [90]:
 #49. Handle both ValueError and TypeError with an example.
try:
    num=int(input("enter a number: "))
    num1=int(input("enter a number 2:"))
    num3 =num * num1
    print(num3)
except ValueError:
    print("ValueError")
except TypeError:
    print("TypeError")

enter a number:  5
enter a number 2: [5]

ValueError

In [95]:
# 50. Write a program with finally block that opens and closes a file.
try:
    with open ("new1.txt") as v:
        line=v.read()
        print(line)
except exception as e:
    print(e)
finally :
    v.close()

this is my new file