In [ ]:
#1. Second Largest Without Sorting
#Write a program to find the second largest number in a list without using sort() or max() more than once.

In [ ]:
#2. Missing Number in Range
#Input: a list of unique numbers from 1 to n (with one missing). Find the missing number using loops only.
#Example: [1, 2, 4, 5] → Output: 3

In [29]:
n=[1,2,4,5,6,7,8]
missing=int(input("enter a missing number"))
for i in n:
    if missing != i:
        print(missing)

enter a missing number 3

3
3
3
3
3
3
3

In [30]:
#3. Count Consecutive Characters
#For a given string, count consecutive repeating characters and compress it.
#Example: "aaabbccccd" → "a3b2c4d1"

In [24]:
var="dddcccvvvyyxxwe"
for i in var:
    j=var.count(i)
    print(i,j,end=" ")

d 3 d 3 d 3 c 3 c 3 c 3 v 3 v 3 v 3 y 2 y 2 x 2 x 2 w 1 e 1

In [2]:
#4. Check Balanced String
#A string is balanced if the number of vowels equals the number of consonants.
#Example: "code" → Balanced (2 vowels, 2 consonants).

In [36]:
S=input("enter a string:")
vowels=0
consonants=0
for i in S:
    if i in "aeiou":
        vowels += 1
    else:
        consonants += 1
if vowels == consonants:
    print=("its a balanced string")

enter a string: code

In [3]:
#5. List Element Difference
#Given a list, create a new list where each element is the difference between the largest element and the current element.
#Example: [4, 7, 2] → [3, 0, 5]

In [47]:
#6. Digit Rearrangement
#Take an integer and rearrange its digits in descending order.
#Example: 42153 → 54321
var1=int(input("enter a number:"))
oder=list(map(lambda i))
print(oder)

SyntaxError: invalid syntax (2659764385.py, line 5)

In [55]:
#7. Sum of Alternate Numbers
#Given a list of integers, find the sum of elements at even indices and at odd indices separately, then print which sum is larger.
list="1,2,3,4,5,6,7,8,9,10,11"
even=map(lambda x: x%2==0, list)
print(even)

TypeError: 'str' object is not callable

In [63]:
#8. Flatten a Nested List
#Without using libraries, flatten a 2D list into a 1D list.
#Example: [[1,2], [3,4], [5]] → [1,2,3,4,5]
li=[[1,2,6], [3,7,4], [5,8,5]]
[v for i in li for v in i]

[1, 2, 6, 3, 7, 4, 5, 8, 5]

In [72]:
#10. Intersection of Two Lists
#Without using set(), find common elements between two lists.
li=[1,2,3,4]
li2=[1,5,2,4]
for i in range(li):
    if li[i] in li2:
        print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [73]:
#11. Count Words Starting with Vowel
#Given a sentence, count how many words start with a vowel.
#Example: "An elephant is under a tree" → 3
var="An elephant is under a tree"
if var.startswith("aeiou"):
    var.count()

In [ ]:
#12. Pattern with Conditions
#Print a pyramid of numbers where each row contains only odd numbers up to n.
#Example (n=5):